{%extends 'dashboard/main.html'%}

{%block content%}
<div class="main-content-inner">
    <div class="card mt-5">
        <div class="card-body">
            <div class="search-box sear">
                <h4 class="tab-title">All users</h4>
                <form action="#">
                    <input type="text" name="search" placeholder="Search..." required>
                    <i class="ti-search"></i>
                </form>
            </div>
            {%include 'dashboard/users/userData.html'%}
            
        </div>
    </div>
</div>
{%endblock%}