{%extends 'dashboard/main.html'%}

{%block content%}
<div class="main-content-inner">
    <div class="sales-report-area sales-style-two">
        <div class="row">
            <div class="col-xl-3 col-ml-3 col-md-6 mt-5">
                <div class="single-report">
                    <div class="s-sale-inner pt--30 mb-3">
                        <div class="s-report-title d-flex justify-content-between">
                            <h2>{{total_companies}}</h2>
                           
                        </div>
                        <h4 class="header-title mb-0">Total Companies</h4>
                    </div>
                    
                </div>
            </div>
            <div class="col-xl-3 col-ml-3 col-md-6 mt-5">
                <div class="single-report">
                    <div class="s-sale-inner pt--30 mb-3">
                        <div class="s-report-title d-flex justify-content-between">
                            <h2>50%</h2>
                            
                            <select class="custome-select border-0 pr-3">
                                <option selected="">Last 7 Days</option>
                                <option value="0">Last 15 Days</option>
                            </select>
                        </div>
                        <h4 class="header-title mb-0">Growth Rate</h4>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
    {% include 'dashboard/company/companyData.html' %}
</div>
{%endblock%}